  /* Apply font smoothing */
  body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
  }

  /* Reset apple form styles */
  input, textarea, select { 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; border-radius: 0; 
    background-image: none; 
  }

  /* Adjust input autofill to brand colors */
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    background-color: var(--colors--background) !important;
    color: var(--colors--text) !important;
    -webkit-box-shadow: 0 0 0 50px var(--colors--background) inset;
    -webkit-text-fill-color: var(--colors--text);
  }

  
  .w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
    margin-bottom: 0 !important;
  }
  .rich-text h1, .rich-text h2, .rich-text h3, .rich-text h4 {
    text-wrap: balance;
  }

 
  /* Line clamp modifiers */
  .clamp-1 {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .clamp-2 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .clamp-3 {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

 
  /* Modal mods */
  body:has(dialog[open]) {
    overflow: hidden !important;
  }
  dialog.modal[open] {
    animation: fadein 400ms ease-out forwards;
  }
  dialog.modal::backdrop {
    background: color-mix(in srgb, var(--_color---neutral--black) 80%, transparent);
  }
  @keyframes fadein{
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }
  }
  dialog::-webkit-scrollbar {
    width: 10px;
  }            
  dialog::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
  }            
  dialog::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid var(--colors--background);
    background: var(--colors--text);
  }
  dialog::-webkit-scrollbar-thumb:window-inactive {
    background: var(--colors--text);
  }

body,html {
 font-size: 1.1111111111111112vw;
}
/* Max Font Size */
@media screen and (min-width:1440px) {
 body,html {font-size: 16px;}
}
@media screen and (max-width:991px) {
 body,html {font-size: 16px;}
}
.container {
  max-width: 1440px;
}

@media (max-width: 1200px) and (min-width: 992px ){
  body,html {
    font-size: 1.2111111111111112vw;
  }
}

@media (max-width: 389px) {
  body,html {
    font-size: calc(100vw / 25.5);
  }
}

@media (max-width: 479px) and (min-width: 390px ){
  body,html {
    font-size: 16px;
  }
}

	/* Mobile menu button animation */
  .nav-menu_btn.w--open .cc-top {
    transform: translateY(0.3rem) rotate(45deg);
  }
  .nav-menu_btn.w--open .cc-middle {
    opacity: 0;
    transform: translateY(0);
  }
  .nav-menu_btn.w--open .cc-bottom {
    transform: translateY(-0.3rem) rotate(-45deg);
  }

  .nav-menu_btn.w--open .bkg-open {
   display: block;
  }

  .nav.is-scroll {
   background-color: white;
  }

  .nav.is-scroll .bf-logo-dark {
   display: none;
  }
  
  .nav.is-scroll .bf-logo {
   display: block;
  }

  .nav.is-scroll .nav-link {
   color: #222222;
  }
  
  .nav.is-scroll .github_icon {
   color: #24292F;
  }
  
  .nav > * {
   transition: all 300ms ease;
  }
  
  .nav {
   transition: all 300ms ease;
  }


  /* When a nav dropdown is open.. */
  /* ..Rotate narrow */
  .nav-link.w--open .nav-dropdown_arrow {
    transform: rotate(180deg)
  }

  /* ..Show overlay on desktop */
  @media (min-width: 992px) {
    .nav-menu:has(.nav-link.w--open) .nav-dropdown_overlay {
      display: block;
    }
  }

  /* Lock body scroll when mobile nav is open */
  body:has( .w-nav-button.w--open) {
    overflow: hidden;
  }

  /* Nav CTA wrapper mode when nav menu hidden */
  @media (min-width: 992px) {
    .nav-menu + .nav-cta-wrapper {
      margin-left: 0;
    }
  }  

@keyframes marquee-horizontal_timeline {
	from { transform: translateX(0%); }
	to { transform: translateX(-50%); }
}

.wf-design-mode .accordion_content_wrap {
	display: block;
}
.accordion_component.is-opened .accordion_toggle_icon {
 transform: rotate(180deg);
}
.accordion_component.is-opened .accordion_toggle_icon {
 color: #0E5DF5;
}

.resource_card:hover .resource-card_link {
 color: #222222;
}

.button-text,
.btn-size {
 transition: all 300ms ease;
}

.customers_card:hover .button-text {
 color: #222222;
}

.customers_card:hover .btn-size{
 color: #222222;
}

